* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #41549a;
    --secondary-color: #ffd7e9;
    --background-color: #ffffff;
    --text-color: #333333;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}


header {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px 0;
    text-align: center;
    position: fixed;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

nav {
    margin-top: 15px;
}

nav a {
    color: var(--background-color);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--secondary-color);
}

section {
    padding: 200px 20px;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
}

.about, .skills, .experience, .contact {
    margin-bottom: 40px;
}

h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
    font-size: 2em;
    border-bottom: 2px solid var(--primary-color);
    display: inline-block;
    padding-bottom: 5px;
}

.skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    background-color: var(--secondary-color);
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.experience p {
    font-size: 1.1em;
}

/* Contact Form Styles */
.contact form {
    display: flex;
    flex-direction: column;
}

.contact input, .contact textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1em;
}

.contact button {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.contact button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    padding: 20px 0;
}

/* Responsive Design */
@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }

    .skills ul {
        flex-direction: column;
        align-items: flex-start;
    }
}
